<%= form_for(@twitter_credential) do |f| %>
  <% if @twitter_credential.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@twitter_credential.errors.count, "error") %> prohibited this twitter_credential from being saved:</h2>

      <ul>
      <% @twitter_credential.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :consumer_key %><br />
    <%= f.text_field :consumer_key %>
  </div>
  <div class="field">
    <%= f.label :consumer_secret %><br />
    <%= f.text_field :consumer_secret %>
  </div>
  <div class="field">
    <%= f.label :oauth_token %><br />
    <%= f.text_field :oauth_token %>
  </div>
  <div class="field">
    <%= f.label :oauth_token_secret %><br />
    <%= f.text_field :oauth_token_secret %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
