<h1>@worldnamer</h1>
<div id="home">
  <% @piles.each do |pile| %>
  <div id="<%= pile.name %>" class="tweet_pile">
  	<div class="twitter_handle"><%= pile.name %></div>
  	<ul class="tweets_list">
      <% pile.tweets.each do |tweet| %>
      <li class='<%= tweet_age(tweet) %>'><%= tweet.created_at.strftime("%H:%M") %> <%= show_tweet(tweet).html_safe %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>